.silver{
  max-width: 480px;
  margin: auto;
  border: 1px solid black;
  text-align: center; 
}

.silver img {
  max-width: 280px;
  height: auto;     
  /* display: block;    */
  margin: 10px 0;   
}

