* {
  padding: 0px;
  margin: 0px;
}

@media screen and (max-width:1024px) {}

@media screen and (max-width:768px) {}

@media screen and (max-width:480px) {
  .silver {
    border: 2px solid red;
  }

  .box-1 {
    background-color: white;
    /* border: 2px solid navy; */

  }

  .heading-1 {
    display: flex;
    font-size: 40px;
    /* justify-content: space-between; */
    /* padding-left: 20px; */
    color: black;
    margin: 20px;
    /* justify-content: space-around;
    padding-left: 20px; */


  }

  .heading-2 {
    /* padding:10px 20px; */
    display: flex;
    align-items: center;
    margin: 10px;
    padding-left: 10px;
    color: darkcyan;
    font-size: 40px;

  }

  .wheelchair-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-1Img {
    width: 100%;
  }


  .items-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 18px;
  }

  .icons {
    display: flex;
    gap: 15px;
  }

  .upc {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 18px;
  }

  .box-2 {
    background-color: #f4f4f4;
    /* border: 2px solid black; */
    padding: 10px 20px;
    padding-top: 0px;
    padding-bottom: 30px;
    /* font-family: Arial, Helvetica, sans-serif; */

  }

  .heading-3 {
    padding: 20px;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
    color: lightslategray;




  }

  .color-types {
    padding-left: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    gap: 50px;
    /* border: 10px slid blue; */
    margin-top: 1px;
    margin-bottom: 1px;

  }

  .color-1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    padding: 10px 20px;
    border: #f4f4f4;



  }

  .color-2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: blue;

  }

  .color-3 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: black;

  }

  .size {
    padding-left: 20px;
    margin-top: 1px;
    font-size: 20px;
    margin-bottom: 10px;
    color: lightslategray;




  }

  .button-types {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 30px;
    padding-top: 0px;


  }

  .button-1 {
    border-radius: 30px;
    padding: 10px 32px;
    border: 2px solid violet;

  }

  .button-2 {
    border-radius: 30px;
    padding: 10px 32px;
    border: 2px solid violet;

  }

  .button-3 {
    border-radius: 30px;
    padding: 10px 32px;
    border: 2px solid violet;

  }

  .arm-style-heading {
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 5px;
    color: lightslategray;

  }

  .arm-type {
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 30px;
    padding-top: 0px;
    /* margin: 4px 2px; */
  }

  .button-4 {
    border-radius: 30px;
    padding: 10px 60px;
    border: 2px solid violet;
    margin-top: 10px;
  }

  .button-5 {
    border-radius: 30px;
    padding: 10px 60px;
    border: 2px solid violet;
    margin-top: 10px;
  }

  .rigging {
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: lightslategray;
  }

  .front-type {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 30px;
    padding-top: 0px;
  }

  .button-6 {
    border-radius: 30px;
    padding: 10px 45px;
    border: 2px solid violet;
  }

  .button-7 {
    border-radius: 30px;
    padding: 10px 45px;
    border: 2px solid violet;
  }

  .box-3 {
    background-color: white;
    padding-bottom: 20px;
    /* border: 2px solid orange; */
  }

  .stock-1 {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    padding: 10px 30px;
    padding-left: 35px;
    

  }

  .stage-1{
    color:#4486D6;
    font-style: normal;
    font-weight: bold;
  }
  .stage-2{
    color:green;
  }

  .deliver-style {
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    padding: 10px 30px;
    font-size: 25px;

  }

  /* .final-one {
    display: flex;
    /* flex-direction: column;
    align-items: flex-start; */
  /* line-height: 1.2; */
  /* align-items: center; */



  .est-del {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    font-size: 25px;
    /* justify-content:space-evenly; */
  }

  .last-astage-styling {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border-radius: 10px; */
    padding: 20px 10px;
    gap: 0px;
  }

  .button-9 {
    border-radius: 10px;
    padding: 10px 50px;
    border: 2px solid violet;
    font-size: 17px;
  }

  .forms select {
    /* padding: 30px 60px; */
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 0px;
    font-size: 17px;
  }

  .last-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-right: 50px; */

  }

  .add-to-cart {
    border-radius: 30px;
    padding: 10px 100px;
    border: 2px solid violet;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-right: 25px;
    margin-left: 10px;
    font-size: 17px;
    /* background-color: blue; */
  }

  .dropdowns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 20px;
    font-size: 25px;
  }

  .dropdowns-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 20px;
    font-size: 25px;
  }

  .dropdowns-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 20px;
    font-size: 25px;
  }

  .dropdowns-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 20px;
    font-size: 25px;
  }

  .dropdowns-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 20px;
    font-size: 25px;
  }






}